<div class="card" style="width: 20rem">
  <img height="200" [src]="productImage" class="card-img" alt="...">
  <div class="card-body overflow-scroll">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1">Product: &nbsp;{{product.name}}</h5>
    <h5 class="card-subtitle fs-6 text-secondary mb-1">Brand: &nbsp;{{ product.producer }}</h5>
    <h6 class="card-subtitle fs-6 text-secondary mb-1">Price: &nbsp;{{ product.price }}$</h6>
    <h6 class="card-subtitle fs-6 text-secondary">Description: &nbsp;{{ product.description }}</h6>

  </div>
</div>
